# DATABASE CONFIG
DB_USERNAME=
DB_PASSWORD=

# DEVELOPMENT DATABASE
DEVELOPMENT_DB=

# TEST DATABASE
TEST_DB=

# PRODUCTION DATABASE
PRODUCTION_DB=
PRODUCTION_PORT=
DATABASE_PRODUCTION_HOST=
DATABASE_PRODUCTION_PORT=

# DATABASE HOST // Default to localhost
DATABASE_HOST=localhost

# DOCKER CONFIG

# DOCKER DB CONFIG
DATABASE_PORT=

# APPLICATION

APPLICATION_PORT=

APPLICATION_HOST=http://localhost


#Social Media Keys

# GOOGLE

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_ACCESS_TOKEN=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_ACCESS_TOKEN=

#JWT TOKEN
JWT_SECRET=supersecretjwtkey
